/* .header {
    margin-top: .5rem;
    margin-right: 1rem;
} */

.headerContent {
    padding: 7rem;
    background-image: radial-gradient(#CDFF64, transparent 75%);
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
}

/* .login {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
} */

.headerText {
    max-width: 600px;
    text-align: center;
}

.title {
    padding-bottom: 2rem;
}

.subtitle {
    font-size: 1em;
    font-weight: 400;
}

.ramen {
    position: absolute;
    transform: rotate(-30deg);
    left: 35%;
    top: 10%;
    font-size: 1.75em;
}

.taco {
    position: absolute;
    transform: rotate(55deg);
    right: 45%;
    top: 10%;
    font-size: 1.75em;
}

.pizza {
    position: absolute;
    transform: rotate(65deg);
    right: 28%;
    top: 25%;
    font-size: 1.75em;
}

.sushi {
    position: absolute;
    transform: rotate(30deg);
    right: 25%;
    bottom: 10%;
    font-size: 1.75em;
}

.pancakes {
    position: absolute;
    transform: rotate(-30deg);
    right: 50%;
    bottom: 10%;
    font-size: 1.75em;
}

.pita {
    position: absolute;
    transform: rotate(45deg);
    left: 30%;
    bottom: 15%;
    font-size: 1.75em;
}

.hamburger {
    position: absolute;
    transform: rotate(-45deg);
    left: 25%;
    top: 30%;
    font-size: 1.75em;
}

@media screen and (max-width: 768px) {
    .ramen {
        position: absolute;
        transform: rotate(-30deg);
        left: 30%;
        top: 10%;
        font-size: 1.75em;
    }
    
    .taco {
        position: absolute;
        transform: rotate(55deg);
        right: 45%;
        top: 10%;
        font-size: 1.75em;
    }
    
    .pizza {
        position: absolute;
        transform: rotate(65deg);
        right: 16%;
        top: 25%;
        font-size: 1.75em;
    }
    
    .sushi {
        position: absolute;
        transform: rotate(30deg);
        right: 25%;
        bottom: 12%;
        font-size: 1.75em;
    }
    
    .pancakes {
        position: absolute;
        transform: rotate(-30deg);
        right: 50%;
        bottom: 10%;
        font-size: 1.75em;
    }
    
    .pita {
        position: absolute;
        transform: rotate(45deg);
        left: 20%;
        bottom: 15%;
        font-size: 1.75em;
    }
    
    .hamburger {
        position: absolute;
        transform: rotate(-45deg);
        left: 15%;
        top: 30%;
        font-size: 1.75em;
    }
}

@media screen and (max-width: 576px) {
    .ramen {
        position: absolute;
        transform: rotate(-30deg);
        left: 30%;
        top: 10%;
        font-size: 1.75em;
    }
    
    .taco {
        position: absolute;
        transform: rotate(55deg);
        right: 30%;
        top: 12%;
        font-size: 1.75em;
    }
    
    .pizza {
        position: absolute;
        transform: rotate(65deg);
        right: 16%;
        top: 40%;
        font-size: 1.75em;
    }
    
    .sushi {
        position: absolute;
        transform: rotate(30deg);
        right: 18%;
        bottom: 20%;
        font-size: 1.75em;
    }
    
    .pancakes {
        position: absolute;
        transform: rotate(-30deg);
        right: 50%;
        bottom: 10%;
        font-size: 1.75em;
    }
    
    .pita {
        position: absolute;
        transform: rotate(45deg);
        left: 16%;
        bottom: 25%;
        font-size: 1.75em;
    }
    
    .hamburger {
        position: absolute;
        transform: rotate(-45deg);
        left: 15%;
        top: 38%;
        font-size: 1.75em;
    }
}