.header {
    text-align: center;
    padding: 7rem;
    background-image: radial-gradient(#CDFF64, transparent 75%);
    position: relative;
    width: 100vw;
}

.subtitle {
    font-size: 1em;
    font-weight: 400;
    margin: 0 5rem;
}

.title {
    padding-bottom: 2rem;
}

.ramen {
    position: absolute;
    transform: rotate(-30deg);
    left: 20rem;
    top: 4.25rem;
    font-size: 1.25em;
}

.taco {
    position: absolute;
    transform: rotate(55deg);
    right: 30rem;
    top: 3.5rem;
    font-size: 1.25em;
}

.pizza {
    position: absolute;
    transform: rotate(65deg);
    right: 16rem;
    top: 7rem;
    font-size: 1.25em;
}

.sushi {
    position: absolute;
    transform: rotate(30deg);
    right: 12rem;
    bottom: 5.5rem;
    font-size: 1.25em;
}

.pancakes {
    position: absolute;
    transform: rotate(-30deg);
    right: 28rem;
    bottom: 4rem;
    font-size: 1.25em;
}

.pita {
    position: absolute;
    transform: rotate(45deg);
    left: 20rem;
    bottom: 4.25rem;
    font-size: 1.25em;
}

.hamburger {
    position: absolute;
    transform: rotate(-45deg);
    left: 16rem;
    top: 9rem;
    font-size: 1.25em;
}